html{
    background-color: #000111;
    color: whitesmoke;
}
table{
    width: 90%;
}
td{
    color: white;
    background-color: #7D15A3;
    padding: 0.2% 0.4% 0.2% 0.4%;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    color: #62caec;
}
.center{
    text-align: center;
    margin: auto;
}
.spacing{
    border-spacing: 10px;
}
.title{
    margin-top: 2%;
    margin-bottom: 2%;
}
.image{
    margin-top: 1%;
}
.qrcode{
    margin-left: 2%;
    height: 17%;
}